// place for all variables, mixins, functions, etc

// google fonts api poppins
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// color variables (using css vairables for colors since it has to be dynamically changed in JS.
:root{
    --backgroundColor: #121212; //background for body
    --backgroundColorRGB: 18,18,18;
    --accentColor:  #1e1e1f; //background color for tags, lang card bg, form input bg
    --guideColor: #464748; //color for guideline in exp section
    --primaryColor: #EC5540;

    --buttonColor: #ffff; //bg for CTAs
    --buttonTextColor: #1e1e1f; //text color for CTAs
    
    --textColor: #d6d6d6; //piece of regular text
    --tagTextColor: #ffffff; //text color for tag
    --textHeadingColor: #ffff; //text color for headings

    --modalHeadingFontSize:  1.5rem; //modal heading font size 20px
    --headingFontSize: 2.188rem; //35px initial value
    --blockTextFontSize: 0.75rem; //12 px
    --tagFontSize: 0.688rem; //11px
    --logoFontSize: 1rem; //16px
    --subHeadingFontSize: 1.125rem; //18px
    --linksFontSize: 0.75rem; //12px
    --buttonFontSize: 0.75rem; //12px
}
// new primary color #EC5540

[data-theme = 'light']{
    --backgroundColor: #ffffff;
    --backgroundColorRGB: 255,255,255;
    --accentColor:  #f3f3f3;
    --guideColor:#c9ccd1;
    
    --buttonColor: #121212;
    --buttonTextColor: #ffffff;
    
    --textColor: #121212;
    --tagTextColor: #121212;
    --textHeadingColor: #121212;
}

// transition duration for theme change
$transitionDuration: 0.4s;

// media queries
$sz1: 22.5rem; //360px
$sz2: 30rem;
$sz3: 36rem;
$sz4: 48rem;
$sz5: 62rem;
$sz6: 64rem;
$sz7: 75rem;
$sz8: 87.5rem;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background: var(--backgroundColor);
    transition: background $transitionDuration ease;
}

.siteContainer{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    scroll-behavior: smooth;
}

.sectionTitle{
    font-size: var(--headingFontSize);
    color: var(--textHeadingColor);
    font-weight: 600;
    transition: color $transitionDuration ease;
}

// common code for navbar
@mixin horizontalList{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;

    // apply hover effect on mobile nav
    li{
        transition: opacity 0.4s ease;
    }
    &:hover > :not(:hover){
        opacity: 0.55;
    }
}

@mixin frostedBackground{
    background: var(--backgroundColorRGB);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

@mixin buttonStyles{
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 3.125rem;

    background: var(--buttonColor);
    color: var(--buttonTextColor);
    font-size: var(--buttonFontSize);

    transition: transform 0.3s ease, color $transitionDuration ease, background $transitionDuration ease;

    svg{
        transform: rotate(-40deg);
        margin-left: 0.2rem;

        $svgSize: 17px;
        width: $svgSize;
        height: $svgSize;
        transition: transform 0.3s ease;
        
        path{
            stroke: var(--buttonTextColor);
            // stroke: var(--primaryColor);
            transition: transform $transitionDuration ease, stroke $transitionDuration ease;
        }
    }

    &:hover{
        transform: scale(0.9);
        svg{
            transform: rotate(0);
        }
    }
}


// keyframes
@keyframes showCursor {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      visibility: hidden;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes hideCursor {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      visibility: hidden;
    }
  }

html{
    margin-bottom: 60px;
    // overflow-x: hidden;
}

body{
    overflow-x: hidden;
}



@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
@keyframes marqueeReverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }



.watermark{
    position: absolute;
    top: 65%;
    left: 0;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    // overflow: hidden;


    .text{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        font-size: 100px;

        &:nth-child(2){
            justify-content: flex-end;
        }
            span{
                text-transform: uppercase;
                will-change: transform;
                transform: translateX(0);
                white-space: nowrap;
                text-wrap: nowrap;
                // animation: marquee 30s linear infinite;
                
                
                font-weight: 500;
                color: var(--accentColor);
                opacity: 0.65;
                transition: color $transitionDuration ease;
            }

            &:nth-child(1){
                span{
                    animation: marquee 25s linear infinite;
                }
            }
            &:nth-child(2){
                span{
                    animation: marqueeReverse 25s linear infinite;
                }
            }
            &:nth-child(3){
                span{
                    animation: marquee 25s linear infinite;
                }
            }
    }
}