// place for all variables, mixins, functions, etc

// google fonts api poppins
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// color variables (using css vairables for colors since it has to be dynamically changed in JS.
:root{
    --background-color: #121212; //background for body
    --accent-color:  #1e1e1f; //background color for tags, lang card bg, form input bg
    
    --button-color: #ffff; //bg for CTAs
    --button-text-color: #1e1e1f; //text color for CTAs
    
    --text-color: #d6d6d6; //piece of regular text
    --tag-text-color: #ffffff; //text color for tag
    --text-heading-color: #ffff; //text color for headings
}


[data-theme = 'light']{
    --background-color: #ffff;
    --accent-color:  #f3f3f3;
    
    --button-color: #121212;
    --button-text-color: #ffffff;
    
    --text-color: #121212;
    --tag-text-color: #121212;
    --text-heading-color: #121212;
}

// transition duration for theme change
$transition-duration: 0.4s;

// media queries
$sz1: 20rem;
$sz2: 30rem;
$sz3: 36rem;
$sz4: 48rem;
$sz5: 62rem;
$sz6: 64rem;
$sz7: 75rem;
$sz8: 87.5rem;

// font size variables
$sm: 0.75rem; //12px
$md: 0.875rem; //14px
$lg: 0.938rem;//15px
$xlg:1.25rem; //20px
$xxlg: 2.813rem; //45px



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
body{
    background: var(--background-color);
    transition: background $transition-duration ease;
}

.siteContainer{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

// common code for navbar
@mixin horizontalList{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;

    // apply hover effect on mobile nav
    li{
        transition: opacity 0.4s ease;
    }
    &:hover > :not(:hover){
        opacity: 0.55;
    }
}

@mixin frostedBackground{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@mixin buttonStyles{
    background: var(--button-color);
    color: var(--button-text-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    font-size: $md;
    transition: transform 0.3s ease, color $transition-duration ease, background $transition-duration ease;
}