#mainSection{
    min-height: 100vh;
    position: relative;
    
    padding: 0 1.5rem;
    padding-top: 1.875rem;

    .leftSection{
        display: flex;
        justify-content: center;
    }

    .leftSectionContent{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    // left section
    .location{
        display: flex;
        margin-top: -7px;
        margin-bottom: 10px;
        svg{
            $svgSize: 15px;
            width: $svgSize;
            height: $svgSize;

            path{
                stroke: var(--textColor);
                transition: stroke $transitionDuration ease;
            }
        }

        p{
            margin-left: 3px;
            display: inline;
            font-size: var(--tagFontSize);
            color: var(--textColor);
            transition: color $transitionDuration ease;
        }
    }

    .skillTags{
        display: flex;
        color: var(--tagTextColor);
        font-size: var(--tagFontSize);        
        margin-bottom: 20px;
        transition: color $transitionDuration ease;

        .tag{
            background: var(--accentColor);
            padding: 0.5rem 1rem;
            border-radius: 8px;
            transition: background $transitionDuration ease;
            &:nth-child(1){
                margin-right: 0.5rem;
            }
        }
    }

    .aboutMeText{
        color: var(--textColor);
        transition: color $transitionDuration ease;
        font-size: var(--blockTextFontSize);
        max-width: 490px;
    }

    .viewProjectsCTA{
        @include buttonStyles;
        margin-top: 25px;
    }



    // right section
    .rightSection{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 4rem; //gap for mobile view
    }


    .rightSectionContent{
        display: grid;
        gap: 0.5rem;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .langCard{
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--accentColor);
        border-radius: 10px;
        padding: 1rem 1.5rem;

        width: min-content;
        min-width: 100px;
        max-height: 90px;

        -webkit-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.8);
        -moz-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.8);
        box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.8);

        transition: background $transitionDuration ease, box-shadow $transitionDuration ease;
        img{
            width: 35px;
            height: 40px;
        }
    }
    
    .myStackTitle{
        color: var(--tagTextColor);
        margin-bottom: 1rem;
        transition: color $transitionDuration ease;
    
    
        p{
            font-size: var(--subHeadingFontSize);
            font-family: "Homemade Apple", serif;
        }
        svg{
            display: none;
            fill: var(--textHeadingColor);
            transition: fill $transitionDuration ease;
        }
    }

}


#textCursor{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1000;

    border: 1px solid var(--accentColor);
    background: rgba(var(--backgroundColorRGB), 0.8);
    border-radius: 50%;

    -webkit-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.6);
    -moz-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.6);
    box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB),0.6);

    height: 80px;
    width: 80px;

    opacity: 0;
    visibility: hidden;
}

#langText{
    font-size: var(--tagFontSize);
    color: var(--textHeadingColor);
    text-align: center;
}
