.modal{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 98%;
    background: var(--backgroundColor); 

    border-radius: 10px 10px 0 0;

    opacity: 0;
    pointer-events: none;
    transform: translateY(40px) translateX(1%);
    transition: opacity 0.4s ease, transform 0.4s ease;
    overflow-y: scroll;
    overflow-x: hidden;

    padding: 0 0.5rem;

    #modalExitBtn{
        cursor: pointer;
        float: right;
        padding: 0.5rem 0 0 0;
        transition: transform 0.3s ease;
        svg{
            $svgSize: 24px;
            width: $svgSize;
            height: $svgSize;
        }
        
        path{
            stroke: var(--textHeadingColor);
        }
        &:hover{
            transform: scale(0.9);
        }
    }

    .modalContent{
        max-width: 1024px;
        margin: 3rem auto;
        text-align: center;

        .modalTitle{
            font-size: 24px;
            color: var(--textHeadingColor);
            font-weight: 500;
        }

    }

}


.projectMainInfo{
    .tagsBtnsSection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
        
        p{
            color: var(--textColor);
            font-size: var(--tagFontSize);
            margin-bottom: 0.3rem;
        }
        ul{
            list-style-type: none;
            display: flex;
            gap: 0.5rem;
            li{
                background: var(--accentColor);
                color: var(--tagTextColor);
                padding: 0.3rem 0.8rem;
                font-size: var(--tagFontSize);
                border-radius: 50px;
            }
        }
    }

    .projLinks{
        a{
            @include buttonStyles;
            margin-right: 0.5rem;

        }
    }

    .imgContainer{
        max-width: 800px;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
        }
    }
    .projectDescription{
        color: var(--textColor);
        font-size: var(--blockTextFontSize);
        margin: 1rem 0 2rem 0;
        max-width: 500px;
    }
}



#overlay{
    z-index: 998;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--backgroundColor);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.modalShow{
    opacity: 1;
    transform: translateY(0) translateX(1%);
    pointer-events: all;
}