.navbar{
    @include frostedBackground;
    border-bottom: 1px solid var(--accentColor);
}

.navbarContent{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1.5rem;

    .logo{
        text-transform: uppercase;
        font-size: var(--logoFontSize);
        color: var(--textHeadingColor);

        font-weight: 600;
        letter-spacing: 0.1rem;
        transition: color $transitionDuration ease, transform 0.5s ease;

        &:hover{
            color: var(--primaryColor);
            transform: scale(0.9);
        }
    }

    .linksContent{
        @include horizontalList;
        display: none;
        max-width: 25rem;
        flex-grow: 0.3;
            a{
                color: var(--textHeadingColor);
                font-size: var(--linksFontSize);
                transition: color $transitionDuration ease;
            }

            li{
                &:hover{
                    a{
                        color: var(--primaryColor);
                    }
                }
            }
    }

    .navbarExtraBtns{
        display: inline-flex;
        align-items: center;
        a{
            margin-right: 1.5rem;
            color: var(--textHeadingColor);
            transition: color $transitionDuration ease, transform 0.3s ease;
            transform: scale(1);
            &:hover{
                color: var(--primaryColor);
                transform: scale(0.9);
            }
        }
    }

    #themeToggle{
        outline: none;
        border: none;
        background: transparent;
        display: inline-flex;
        cursor: pointer;
    }

}

// animate sun svg
.sun-svg{
    $svgSize: 22px;
    width: $svgSize;
    height: $svgSize;
    transition: transform 0.8s ease-in-out;
    &:hover{
        transform: rotate(180deg) scale(0.85);
    }

    path{
        stroke: var(--textHeadingColor);
    }
}

// add styles to fixed navbar for mobile view
#mobileNav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 99;
    border-top: 1px solid var(--accentColor);
    border-radius: 15px 15px 0 0;
    @include frostedBackground;
   
}

.mobileLinksContent{
    @include horizontalList;
    padding: 0.8rem 1.5rem;
    

    .navLink{
        transition: color $transitionDuration ease;
        color: var(--textHeadingColor);
        font-size: var(--linksFontSize);
    }
}