#portfolioSection{
    padding: 0 1.5rem;
    margin-top: 5rem;

    .sectionTitle{
        text-align: center;
    }

    .dropdownListBtn{
        background: var(--accentColor);
        color: var(--tagTextColor);
        width: 100%;

        max-width: 300px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        border: none;
        border-radius: 10px;
        padding: 0.75rem 1rem;

        font-size: var(--buttonFontSize);
        
        cursor: pointer;
        svg{
           $svgSize:16px;
           height: $svgSize;
           width: $svgSize;
            transition: transform 0.5 ease;
            path{
                stroke: var(--tagTextColor);
            }   
        }
    }

    .transformArrow{
        transform: rotate(180deg);
    }
    

    .categoryList{

        position: absolute;
        top: 2.8rem;
        left: 0;
        right: 0;


        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        margin-top: 0.5rem;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        background: var(--accentColor);
        border-radius: 10px;
        padding:0.2rem;
        transition: background $transitionDuration ease, opacity 0.1s ease-in;

        button{
            cursor: pointer;
            padding: 0.5rem 0.75rem;
            width: 100%;
            text-align: left;
            background: none;
            border: none;
            border-radius: 10px;
            color: var(--tagTextColor);
            font-size: var(--buttonFontSize);
            transition: background 0.3s ease-in-out;
            &:hover{
                background: var(--backgroundColor);
            }
        }
    }

    .showCategoryList{
        opacity: 1;
        pointer-events: all;
    }

    .projectFilterContainer{
        position: relative;
    }





    // styles for the project cards
    .projectsSection{
        width:100%;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 2rem;

        display: grid;
        justify-items: center; 
        align-items: center;

        grid-template-columns: 1fr;
        gap: 1rem;
        position: relative;
    }

    .noProjectsMsg{
        position: absolute;
        top: 2vh;
        font-size: var(--tagFontSize);
        color:var(--guideColor) ;
        display: block;
        width: 100%;
        text-align: center;
    }

    .projectCard{
        .projectIMGContainer{
            img{
            border-radius: 10px;

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

