// holds all media queries
@media (min-width: $sz1){// 360px

    .rightSectionContent{
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (min-width: $sz2){// 480px

}
@media (min-width: $sz3){// 576px

    
}
@media (min-width: 640px){// 640px

    
}
@media (min-width: $sz4){// 768px
    // hiding fixed mobile nav
    #mobileNav{
        pointer-events: none;
        display: none;
    }

    // redisplay top nav links
    .navbarContent{
        padding:0.8rem 1.5rem;
        .linksContent{
            display: flex;
        }
    }
    
    // make main navbar fixed to top of screen
    .navbar{
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
        left: 0;
    }


    // main Section
    #mainSection{
        margin-top: 3.188rem;
    }
}
@media (min-width: $sz5){// 992px

}
@media (min-width: $sz6){// 1024px

}
@media (min-width: $sz7){// 1200px
    :root{
        --test: 80px;
    }

}
@media (min-width: $sz8){// 1400px
    .navbarContent{
        padding: 1rem 0;
    }
}









