// holds all media queries
@media (min-width: $sz1){// 360px
    :root{
        --headingFontSize: 2.5rem; //40px
        --blockTextFontSize: 0.875rem; //14 px
        --tagFontSize: 0.75rem; //12px

        --linksFontSize: 0.875rem; //14px
        --buttonFontSize: 0.875rem; //14px   
    }

    #mainSection{

        .location{
            svg{
                $svgSize: 1rem;
                width: $svgSize;
                height: $svgSize;
            }
        }

        .viewProjectsCTA{
            svg{
                $svgSize: 1.1875rem;
                width: $svgSize;
                height: $svgSize;
            }
        }


        .rightSectionContent{
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .mobileLinksContent{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
@media (min-width: $sz2){// 480px

}
@media (min-width: $sz3){// 576px

    #portfolioSection{
        
        .projectsSection{
            max-width: 37.5rem;
            grid-template-columns: 1fr 1fr;

        }
    }
    
}
@media (min-width: 640px){// 640px
    #portfolioSection{
        .dropdownListBtn{
            display: none;
        }
        .categoryList{
            max-width: 31.25rem;
            position: static;
            opacity: 1;
            pointer-events: all;
            background: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                transition: background 0.3s ease, color 0.3s ease;
                &:hover{
                    background: var(--buttonColor);
                    color: var(--buttonTextColor);
                }
            }

            .activeCategory{
                background: var(--buttonColor);
                color: var(--buttonTextColor);
            }
        }

        
    }
    
}
@media (min-width: $sz4){// 768px
    // hiding fixed mobile nav
    #mobileNav{
        pointer-events: none;
        display: none;
    }

    // redisplay top nav links
    .navbarContent{
        padding:0.8rem 1.5rem;
        .linksContent{
            display: flex;
        }
    }
    
    // make main navbar fixed to top of screen
    .navbar{
        position: fixed;
        z-index: 99;
        width: 100%;
        top: 0;
        left: 0;
    }


    // main Section turn to row layout for bigger screen
    #mainSection{
        padding-top: 13rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .leftSection{
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .leftSectionContent{
            align-items: flex-start;
            text-align: left;
        }

        .rightSection{
            position: relative;
            flex:1;
            justify-content: center;
            margin-top: 0;
        }

            // adding styles for special hover effect
        .rightSectionContent{
            cursor: none;
        }

    }


    // classes for cursor hover effect
    .show {
        animation: showCursor 0.3s forwards;
    }
    
    .hide{
        animation: hideCursor 0.3s forwards;
    }

    // experience section
    #experienceSection{
        margin-top: 0;
        padding-top: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .leftSection{
            flex: 1;
            justify-content: center;
            position: sticky;
            top: 7%;
            height: max-content;
            margin-left: 0;
        }

        .expTitleContainer{
            min-width: 25rem;
            align-items: flex-start;
        }

        .rightSection{
            flex: 1;

        }
    }

    #portfolioSection{
        margin-top: 4rem;
        padding-top: 4rem;

        .projectsSection{
            max-width: 53.125rem;
            grid-template-columns: 1fr 1fr 1fr;

        }
    }
    #contactSection{
        margin-top: 4rem;
        padding-top: 4rem;
    }
}

@media (min-width: $sz5){// 992px

    #mainSection{
        .watermark{
            bottom: 2rem;
            .text{
                font-size: 150px;
            }
        }
        .rightSection{
            flex-direction: row;
        }

        .myStackTitle{
            position: absolute;
            margin-right: 300px;
            bottom: -5em;
            display: flex;
            svg{
                margin-left: 10px;
                margin-top: -10px;
                display: block;
                transform: rotate(-75deg);
            }
        }
    }

    #portfolioSection{
    }

    #contactSection{
        .socialLinks{
            flex-direction: row;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}
@media (min-width: $sz6){// 1024px

}
@media (min-width: $sz7){// 1200px
    :root{
        --headingFontSize: 2.8125rem; //45px
        --blockTextFontSize: 0.875rem; //14 px
        --tagFontSize: 0.75rem; //12px

        --linksFontSize: 0.875rem; //14px
        --buttonFontSize: 0.875rem; //14px

        
        --subHeadingFontSize: 1.25rem; //20px
    }
    #mainSection{
        .watermark{
            bottom: -1rem;
            .text{
                font-size: 150px;
            }
        }
        .aboutMeText{
            max-width: 25rem;
        }

        .langCard{
            padding: 2rem 2.5rem;
            min-width: 7.5rem;
        }
    }


    #portfolioSection{
    }

}



@media (min-width: $sz8){// 1400px
    :root{
        --headingFontSize: 3.125rem; //50px

    }
    .navbarContent{
        padding: 1rem 0;
    }
}









