@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background-color: #121212;
  --accent-color: #1e1e1f;
  --button-color: #ffff;
  --button-text-color: #1e1e1f;
  --text-color: #d6d6d6;
  --tag-text-color: #ffffff;
  --text-heading-color: #ffff;
}

[data-theme=light] {
  --background-color: #ffff;
  --accent-color: #f3f3f3;
  --button-color: #121212;
  --button-text-color: #ffffff;
  --text-color: #121212;
  --tag-text-color: #121212;
  --text-heading-color: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

body {
  background: var(--background-color);
  transition: background 0.4s ease;
}

.siteContainer {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.navbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbarContent {
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarContent .logo {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--text-heading-color);
  transition: color 0.4s ease, transform 0.5s ease;
}
.navbarContent .logo:hover {
  transform: scale(0.9);
}
.navbarContent .linksContent {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  display: none;
  max-width: 25rem;
  flex-grow: 0.3;
}
.navbarContent .linksContent li {
  transition: opacity 0.4s ease;
}
.navbarContent .linksContent:hover > :not(:hover) {
  opacity: 0.55;
}
.navbarContent .linksContent a {
  color: var(--text-heading-color);
  font-size: 0.875rem;
  transition: color 0.4s ease;
}
.navbarContent #themeToggle {
  outline: none;
  border: none;
  background: transparent;
  display: inline-flex;
  cursor: pointer;
}

.sun-svg {
  width: 22px;
  height: 22px;
  transition: transform 0.8s ease-in-out;
}
.sun-svg:hover {
  transform: rotate(180deg) scale(0.85);
}
.sun-svg path {
  stroke: var(--text-heading-color);
}

#mobileNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid var(--accent-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.mobileLinksContent {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 1.5rem;
}
.mobileLinksContent li {
  transition: opacity 0.4s ease;
}
.mobileLinksContent:hover > :not(:hover) {
  opacity: 0.55;
}
.mobileLinksContent .navLink {
  color: var(--text-heading-color);
  padding: 1rem;
  font-size: 0.875rem;
}

#mainSection {
  margin-top: 0;
}

.leftSectionContent {
  margin: 1.5rem;
}
.leftSectionContent .title {
  font-size: 2.813rem;
  color: var(--text-heading-color);
  font-weight: 600;
}
.leftSectionContent .location {
  display: flex;
}
.leftSectionContent .location svg {
  width: 17px;
  height: 17px;
}
.leftSectionContent .location svg path {
  stroke: var(--text-color);
}
.leftSectionContent .location p {
  display: inline;
  font-size: 0.75rem;
  color: var(--text-color);
}
.leftSectionContent .skillTags {
  color: var(--tag-text-color);
  display: flex;
  font-size: 0.75rem;
}
.leftSectionContent .skillTags .tag {
  background: yellow;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: var(--accent-color);
}
.leftSectionContent .skillTags .tag:nth-child(1) {
  margin-right: 0.5rem;
}
.leftSectionContent .aboutMeText {
  color: var(--text-color);
  font-size: 0.875rem;
}
.leftSectionContent .viewProjectsCTA {
  background: var(--button-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  transition: transform 0.3s ease;
}
.leftSectionContent .viewProjectsCTA svg {
  transform: rotate(-40deg);
  margin-left: 0.5rem;
  width: 19px;
  height: 19px;
  transition: transform 0.3s ease;
}
.leftSectionContent .viewProjectsCTA svg path {
  stroke: var(--button-text-color);
}
.leftSectionContent .viewProjectsCTA:hover {
  transform: scale(0.9);
}
.leftSectionContent .viewProjectsCTA:hover svg {
  transform: rotate(0);
}

html {
  margin-bottom: 1000px;
}

@media (min-width: 48rem) {
  #mobileNav {
    pointer-events: none;
    display: none;
  }
  .navbarContent {
    padding: 0.8rem 1.5rem;
  }
  .navbarContent .linksContent {
    display: flex;
  }
  .navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
  }
  #mainSection {
    margin-top: 3.188rem;
  }
}
@media (min-width: 87.5rem) {
  .navbarContent {
    padding: 1rem 0;
  }
}