@import 'config';

.navbar{
    @include frostedBackground;
}


// navbar content styles
.navbarContent{
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        color: $text-heading-color;
        transition: transform 0.5s ease;

        &:hover{
            transform: scale(0.9);
        }
    }

    .linksContent{
        display: none;
    }

    #themeToggle{
        outline: none;
        border: none;
        background: transparent;
        display: inline-flex;
        cursor: pointer;
    }

}

// animate sun svg
.sun-svg{
    width: 22px;
    height: 22px;
    transition: transform 0.8s ease-in-out;

    &:hover{
        transform: rotate(180deg) scale(0.85);
    }

    path{
        stroke: $text-heading-color;
    }
}

// add styles to fixed navbar for mobile view
#mobileNav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    @include frostedBackground;
}

.mobileLinksContent{
    @include horizontalList;
    border-top: 1px solid $accent-color;
    padding: 0.8rem 1.5rem;

    // apply hover effect on mobile nav
    li{
        transition: opacity 0.4s ease;
    }
    &:hover > :not(:hover){
        opacity: 0.55;
    }

    .navLink{
        color: $text-heading-color;
        padding: 1rem;
        font-size: 0.875rem;
    }
}




// placeholder to allow page to scroll
html{
    margin-bottom: 1000px
}

@import 'responsive';