@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

body {
  background: #121212;
}

.siteContainer {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

nav {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbarContent {
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarContent .logo {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
  transition: transform 0.5s ease;
}
.navbarContent .logo:hover {
  transform: scale(0.95);
}
.navbarContent .linksContent {
  display: none;
}
.navbarContent #themeToggle {
  outline: none;
  border: none;
  background: transparent;
  display: inline-flex;
  cursor: pointer;
}

.sun-svg {
  width: 22px;
  height: 22px;
  transition: transform 0.8s ease-in-out;
}
.sun-svg:hover {
  transform: rotate(180deg) scale(0.85);
}
.sun-svg path {
  stroke: white;
}