@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --backgroundColor: #121212;
  --backgroundColorRGB: 18,18,18;
  --accentColor: #1e1e1f;
  --guideColor: #464748;
  --buttonColor: #ffff;
  --buttonTextColor: #1e1e1f;
  --textColor: #d6d6d6;
  --tagTextColor: #ffffff;
  --textHeadingColor: #ffff;
  --headingFontSize: 2.188rem;
  --blockTextFontSize: 0.75rem;
  --tagFontSize: 0.688rem;
  --logoFontSize: 1rem;
  --subHeadingFontSize: 1.125rem;
  --linksFontSize: 0.75rem;
  --buttonFontSize: 0.75rem;
}

[data-theme=light] {
  --backgroundColor: #ffffff;
  --backgroundColorRGB: 255,255,255;
  --accentColor: #f3f3f3;
  --guideColor:#c9ccd1;
  --buttonColor: #121212;
  --buttonTextColor: #ffffff;
  --textColor: #121212;
  --tagTextColor: #121212;
  --textHeadingColor: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--backgroundColor);
  transition: background 0.4s ease;
}

.siteContainer {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.sectionTitle {
  font-size: var(--headingFontSize);
  color: var(--textHeadingColor);
  font-weight: 600;
  transition: color 0.4s ease;
}

@keyframes showCursor {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hideCursor {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
.navbar {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.navbarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
.navbarContent .logo {
  text-transform: uppercase;
  font-size: var(--logoFontSize);
  color: var(--textHeadingColor);
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: color 0.4s ease, transform 0.5s ease;
}
.navbarContent .logo:hover {
  transform: scale(0.9);
}
.navbarContent .linksContent {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: none;
  max-width: 25rem;
  flex-grow: 0.3;
}
.navbarContent .linksContent li {
  transition: opacity 0.4s ease;
}
.navbarContent .linksContent:hover > :not(:hover) {
  opacity: 0.55;
}
.navbarContent .linksContent a {
  color: var(--textHeadingColor);
  font-size: var(--linksFontSize);
  transition: color 0.4s ease;
}
.navbarContent #themeToggle {
  outline: none;
  border: none;
  background: transparent;
  display: inline-flex;
  cursor: pointer;
}

.sun-svg {
  width: 22px;
  height: 22px;
  transition: transform 0.8s ease-in-out;
}
.sun-svg:hover {
  transform: rotate(180deg) scale(0.85);
}
.sun-svg path {
  stroke: var(--textHeadingColor);
}

#mobileNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 99;
  border-top: 1px solid var(--accentColor);
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.mobileLinksContent {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 1.5rem;
}
.mobileLinksContent li {
  transition: opacity 0.4s ease;
}
.mobileLinksContent:hover > :not(:hover) {
  opacity: 0.55;
}
.mobileLinksContent .navLink {
  transition: color 0.4s ease;
  color: var(--textHeadingColor);
  font-size: var(--linksFontSize);
}

#mainSection {
  min-height: 100vh;
  position: relative;
  padding: 0 1.5rem;
  padding-top: 1.875rem;
}
#mainSection .leftSection {
  display: flex;
  justify-content: center;
}
#mainSection .leftSectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#mainSection .location {
  display: flex;
  margin-top: -7px;
  margin-bottom: 10px;
}
#mainSection .location svg {
  width: 15px;
  height: 15px;
}
#mainSection .location svg path {
  stroke: var(--textColor);
  transition: stroke 0.4s ease;
}
#mainSection .location p {
  margin-left: 3px;
  display: inline;
  font-size: var(--tagFontSize);
  color: var(--textColor);
  transition: color 0.4s ease;
}
#mainSection .skillTags {
  display: flex;
  color: var(--tagTextColor);
  font-size: var(--tagFontSize);
  margin-bottom: 20px;
  transition: color 0.4s ease;
}
#mainSection .skillTags .tag {
  background: var(--accentColor);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.4s ease;
}
#mainSection .skillTags .tag:nth-child(1) {
  margin-right: 0.5rem;
}
#mainSection .aboutMeText {
  color: var(--textColor);
  transition: color 0.4s ease;
  font-size: var(--blockTextFontSize);
  max-width: 490px;
}
#mainSection .viewProjectsCTA {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--buttonColor);
  color: var(--buttonTextColor);
  font-size: var(--buttonFontSize);
  transition: transform 0.3s ease, color 0.4s ease, background 0.4s ease;
  margin-top: 25px;
}
#mainSection .viewProjectsCTA svg {
  transform: rotate(-40deg);
  margin-left: 0.2rem;
  width: 17px;
  height: 17px;
  transition: transform 0.3s ease;
}
#mainSection .viewProjectsCTA svg path {
  stroke: var(--buttonTextColor);
  transition: transform 0.4s ease, stroke 0.4s ease;
}
#mainSection .viewProjectsCTA:hover {
  transform: scale(0.9);
}
#mainSection .viewProjectsCTA:hover svg {
  transform: rotate(0);
}
#mainSection .rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}
#mainSection .rightSectionContent {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
#mainSection .langCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accentColor);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  width: min-content;
  min-width: 100px;
  max-height: 90px;
  -webkit-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.8);
  -moz-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.8);
  box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.8);
  transition: background 0.4s ease, box-shadow 0.4s ease;
}
#mainSection .langCard img {
  width: 35px;
  height: 40px;
}
#mainSection .myStackTitle {
  color: var(--tagTextColor);
  margin-bottom: 1rem;
  transition: color 0.4s ease;
}
#mainSection .myStackTitle p {
  font-size: var(--subHeadingFontSize);
  font-family: "Homemade Apple", serif;
}
#mainSection .myStackTitle svg {
  display: none;
  fill: var(--textHeadingColor);
  transition: fill 0.4s ease;
}

#textCursor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000;
  border: 1px solid var(--accentColor);
  background: rgba(var(--backgroundColorRGB), 0.8);
  border-radius: 50%;
  -webkit-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.6);
  -moz-box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.6);
  box-shadow: 3px 10px 28px 0px rgba(var(--backgroundColorRGB), 0.6);
  height: 80px;
  width: 80px;
  opacity: 0;
  visibility: hidden;
}

#langText {
  font-size: var(--tagFontSize);
  color: var(--textHeadingColor);
  text-align: center;
}

#experienceSection {
  margin-top: 5rem;
  padding: 0 1.5rem;
}
#experienceSection .leftSection {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
#experienceSection .expTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#experienceSection .downloadResumeCTA {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--buttonColor);
  color: var(--buttonTextColor);
  font-size: var(--buttonFontSize);
  transition: transform 0.3s ease, color 0.4s ease, background 0.4s ease;
  max-width: fit-content;
  margin-top: 0.5rem;
}
#experienceSection .downloadResumeCTA svg {
  transform: rotate(-40deg);
  margin-left: 0.2rem;
  width: 17px;
  height: 17px;
  transition: transform 0.3s ease;
}
#experienceSection .downloadResumeCTA svg path {
  stroke: var(--buttonTextColor);
  transition: transform 0.4s ease, stroke 0.4s ease;
}
#experienceSection .downloadResumeCTA:hover {
  transform: scale(0.9);
}
#experienceSection .downloadResumeCTA:hover svg {
  transform: rotate(0);
}
#experienceSection .rightSection {
  position: relative;
  margin-left: 0.5rem;
}
#experienceSection .rightSection::before {
  background: var(--guideColor);
  position: absolute;
  content: "";
  width: 2px;
  left: -19px;
  bottom: 0;
  height: 98%;
  transition: background 0.4s ease;
}
#experienceSection .expBlock {
  padding-bottom: 1.5rem;
  position: relative;
}
#experienceSection .expBlock::before {
  border-radius: 50px;
  border: var(--guideColor) 2px solid;
  background: var(--backgroundColor);
  transition: background 0.4s ease, border 0.4s ease;
  content: "";
  position: absolute;
  left: -27.5px;
  top: 5px;
  width: 15px;
  height: 15px;
}
#experienceSection .expBlock:nth-last-child(1) {
  padding-bottom: 0;
}
#experienceSection .tagsContainer {
  margin-bottom: 0.5rem;
}
#experienceSection .expTag {
  font-size: var(--tagFontSize);
  background: var(--accentColor);
  color: var(--tagTextColor);
  padding: 0.3rem 1rem;
  border-radius: 8px;
  transition: background 0.4s ease, color 0.4s ease;
}
#experienceSection .expTag:nth-child(1) {
  margin-right: 0.3rem;
}
#experienceSection .expTitle {
  color: var(--textHeadingColor);
  font-size: var(--subHeadingFontSize);
  font-weight: 500;
  margin-bottom: 0.5rem;
  transition: color 0.4s ease;
  line-height: 1.2em;
}
#experienceSection .expTasks {
  color: var(--textColor);
  font-size: var(--blockTextFontSize);
  transition: color 0.4s ease;
  list-style-position: inside;
}

#portfolioSection {
  padding: 0 1.5rem;
  margin-top: 5rem;
}
#portfolioSection .sectionTitle {
  text-align: center;
}
#portfolioSection .dropdownListBtn {
  background: var(--accentColor);
  color: var(--tagTextColor);
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  font-size: var(--buttonFontSize);
  cursor: pointer;
}
#portfolioSection .dropdownListBtn svg {
  height: 16px;
  width: 16px;
  transition: transform 0.5 ease;
}
#portfolioSection .dropdownListBtn svg path {
  stroke: var(--tagTextColor);
}
#portfolioSection .transformArrow {
  transform: rotate(180deg);
}
#portfolioSection .categoryList {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  background: var(--accentColor);
  border-radius: 10px;
  padding: 0.2rem;
  transition: background 0.4s ease, opacity 0.1s ease-in;
}
#portfolioSection .categoryList button {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--tagTextColor);
  font-size: var(--buttonFontSize);
  transition: background 0.3s ease-in-out;
}
#portfolioSection .categoryList button:hover {
  background: var(--backgroundColor);
}
#portfolioSection .showCategoryList {
  opacity: 1;
  pointer-events: all;
}

html {
  margin-bottom: 10000px;
}

@media (min-width: 22.5rem) {
  :root {
    --headingFontSize: 2.5rem;
    --blockTextFontSize: 0.875rem;
    --tagFontSize: 0.75rem;
    --linksFontSize: 0.875rem;
    --buttonFontSize: 0.875rem;
  }
  #mainSection .location svg {
    width: 16px;
    height: 16px;
  }
  #mainSection .viewProjectsCTA svg {
    width: 19px;
    height: 19px;
  }
  #mainSection .rightSectionContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .mobileLinksContent {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 48rem) {
  #mobileNav {
    pointer-events: none;
    display: none;
  }
  .navbarContent {
    padding: 0.8rem 1.5rem;
  }
  .navbarContent .linksContent {
    display: flex;
  }
  .navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
  }
  #mainSection {
    padding-top: 13rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #mainSection .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  #mainSection .leftSectionContent {
    align-items: flex-start;
    text-align: left;
  }
  #mainSection .rightSection {
    position: relative;
    flex: 1;
    justify-content: center;
    margin-top: 0;
  }
  #mainSection .rightSectionContent {
    cursor: none;
  }
  .show {
    animation: showCursor 0.3s forwards;
  }
  .hide {
    animation: hideCursor 0.3s forwards;
  }
  #experienceSection {
    margin-top: 0;
    padding-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #experienceSection .leftSection {
    flex: 1;
    justify-content: center;
    position: sticky;
    top: 7%;
    height: max-content;
    margin-left: 0;
  }
  #experienceSection .expTitleContainer {
    min-width: 400px;
    align-items: flex-start;
  }
  #experienceSection .rightSection {
    flex: 1;
  }
}
@media (min-width: 62rem) {
  #mainSection .rightSection {
    flex-direction: row;
  }
  #mainSection .myStackTitle {
    position: absolute;
    margin-right: 300px;
    bottom: -5em;
    display: flex;
  }
  #mainSection .myStackTitle svg {
    margin-left: 10px;
    margin-top: -10px;
    display: block;
    transform: rotate(-75deg);
  }
}
@media (min-width: 75rem) {
  :root {
    --headingFontSize: 2.8125rem;
    --blockTextFontSize: 0.875rem;
    --tagFontSize: 0.75rem;
    --linksFontSize: 0.875rem;
    --buttonFontSize: 0.875rem;
    --subHeadingFontSize: 1.25rem;
  }
  #mainSection .aboutMeText {
    max-width: 400px;
  }
  #mainSection .langCard {
    padding: 2rem 2.5rem;
    min-width: 120px;
  }
}
@media (min-width: 87.5rem) {
  :root {
    --headingFontSize: 3.125rem;
  }
  .navbarContent {
    padding: 1rem 0;
  }
}